#surface {
    background-color: white;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    
}

body {
    margin: 0;
    padding: 0;
    background-color: beige;
}