#surface {
    background-color: white;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    

}

body {
    margin: 0;
    padding: 0;
    background-color: beige;
    
}

